<div class = "page-header">
  <h1>Listing sites</h1>
</div>

<table class = "table table-bordered">
  <thead>
    <tr>
      <th>Site ID</th>
      <th>Site Name</th>
      <th>Page URL</th>
      <th>Total Visits</th>
      <th>Average Duration</th>
      <th></th>
    </tr>
  </thead>
  <% @sites = Site.order(:id) %>
  <% @sites.each do |site| %>
    <tr>
      <td rowspan="<%= site.pages.count+1 %>"><%= site.id %></td>
      <td rowspan="<%= site.pages.count+1 %>"><%= site.name %></td>
      <td> -- </td>
      <td><%= site.totalvisits %></td>
      <td><%= site.avgduration %> seconds</td>
      <td rowspan="<%= site.pages.count+1 %>"><%= link_to 'Get site tracking code', site %></td>
    </tr>
    <% site.pages.each do |page| %>
      <tr class = "pagerow">
        <td><%= page.url %></td>
        <td><%= page.totalvisits %></td>
        <td><%= page.avgduration %></td>
      </tr>
    <%end %>
  <% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
