<h1>Listing sites</h1>
<p> Please don't use the back button on your browser. The visit count below won't update if you do.</p>

<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Visits</th>
    <th></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= site.name %></td>
    <td><%= site.id %></td>
    <td><%= site.visits %></td>
    <td><%= link_to 'Visit this site', visits_site_path(site) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
