<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>ID:</b>
  <%= @site.id %>
</p>

<p>
  <b>Total Visits:</b>
  <%= @site.totalvisits %>
</p>

<p>
  <b>Average Duration:</b>
  <%= @site.avgduration %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>